<%= title "Products" %>
<h3>Products</h3>

<div class="form-group container-fluid">
	<%= form_tag({:action => "all"}, {:method => "get"}) do %>
	<%= render "partials/product_filter" %>
<% end %>
</div>

<%= render "partials/product", products: @products, pending_stock_h: @pending_stock_h %>