<!-- edited by vchar on 20180805 -->
<div class="col p-1">
    <%= collection_select(:role, :role, ContactRole.all, :role, :role, 
        {:include_blank => 'All Position', selected: @contact_role }, 
        {:class => 'form-control'}) %>
</div>
