<div class="col-lg col-md p-1">
   <%= text_field_tag('search', @search_text, placeholder: 'Enter Customer Name', class: 'form-control') %>
</div>
<%= render "partials/cust_style_filter" %>
<%= render "partials/staff_filter" %>
