<%
=begin
%>
<div class="col-xs-3" style="float: left;margin-top: 5px;margin-left: 50px;">
<%= radio_button_tag(:sum_param, "Bottles", @checked_bottles) %>  Bottles
<span style="margin-left: 50px;"><%= radio_button_tag(:sum_param, "Order Totals", @checked_totals) %>  Order Totals</span>
</div>

<%
=end
%>

<div class="col-xs-2">
<%= select_tag "sum_param", options_for_select(@sum_params.collect{ |p| [p, p]}, selected: @param_val), class:"form-control", :onclick => "this.form.submit();"%>
</div>
