<% if objects.count >= @per_page.to_i %>
<div class="form-group">

	<div class="col-xs-3 col-xs-offset-7">
		<%= will_paginate objects, :inner_window => 1, :outer_window => 1 %>  |
	</div>

	<div class="col-xs-2" style="margin-top: 20px;margin-left: -45px;">
		<span style="float: left;">Per Page</span>
		<span style="float: left;margin-left: 10px;margin-top: -5px;">
		<%= select_tag :per_page, options_for_select([15,30,50,100], @per_page.to_i), :onchange => "this.form.submit()", :class => "form-control" %>
		</span>
	</div>
</div>

<% end %>
