<% if objects.count >= @per_page.to_i %>
	<script type="text/javascript">
		function load(selected){
			window.location.search = window.location.search + '&per_page=' + selected.val();
		};
	</script>

	<!-- start pagination -->
	<div class="row" style="display: inline-block;">
		<div class="col w-100">
			<center>
			<table>
				<tr>
					<td align="right">
				  		<%= will_paginate objects, 
							renderer: WillPaginate::ActionView::BootstrapLinkRenderer, 
							previous_label: '&laquo;', next_label: '&raquo;' %>
					</td>
					<td>
					  	<div class="input-group pb-3">
					    	<div class="input-group-append">
					      		<span class="input-group-text" style="height: 35px">
					      			Per page
					      		</span>
				      			<%= select_tag :per_page, 
				      				options_for_select([15,30,50,100], @per_page.to_i), 
				      				:onchange => "load($(this).find('option:selected'))", 
				      				:class => "form-control", style: "height: 35px"
				      			%>
					    	</div>
					  	</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- end pagination -->
<% end %>
