<div style="float: left;">
	<h4>Notes</h4>
</div>


<button class = "btn btn-primary"><%= link_to "Create",
								:onclick=>"window.open(this.href,'note_create', 'height=800, width=500'); return false;",
								controller: "accounts", action: "note_create" %></button>

<!-- 
<div class="container" style="margin-right: 30px;">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"></div>
	</div>
	<div class= "row">
		<div class="col-md-8">
			<table class = "table table-striped table-bordered table-hover table-responsive" style="margin-top: -10px;">
				<tr class="info">
					<th>Note#</th>
					<th>Subject</th>
					<th>due_date</th>
					<th>Staff</th>
					<th></th>
				</tr>
				<% customer.notes.valid.each do |n| %>
				<tr>
					<td><%= n.id %></td>
					<td></td>
					<td><%= n.due_date.to_date %></td>
					<td></td>
					<td><%= n.priority %></td>
				</tr>
				<% end%>
			</table>
		</div>
		<div class="col-md-4">
			<h4>To be discussed</h4>
		</div>
	</div>
</div> -->
