<table class = "table table-striped table-bordered table-hover table-responsive">
	<tr>
		<th>Product Name</th>
		<th>Quantity</th>
		<th>List Price Ex Tax</th>
		<th>Price Inc Tax</th>
		<th>Total</th>
	</tr>


	<% order_products.select{|x| x.qty > 0}.each do |op| %>
	<tr>
		<td><%= link_to op.product.name, controller: 'customer', action: 'summary_with_product', product_id: op.product.id, product_name: op.product.name, customer_id: cust_id, customer_name: cust_name %></td>
		<td class="num"><%= op.qty %></td>
		<td class="num"><%= op.product.calculated_price %></td>
		<td class="num"><%= display_num(op.price_inc_tax) %></td>
		<td class="num"></td>
	</tr>
	<% end %>
</table>
