<div class="col-xs-3 col-xs-offset-2">
    <%= text_field_tag('search', @search_text, placeholder: 'Search for Customer Name', class: 'form-control') %>
</div>
<div class="col-xs-2">
    <%= collection_select(:staff, :id, @staffs, :id, :nickname, {:include_blank => 'All Sales Reps'}, {:class => 'form-control'}) %>
</div>   
<div class="col-xs-2">
    <%= collection_select(:status, :id, @statuses, :id, :name, {:include_blank => 'All Statuses'}, {:class => 'form-control'}) %>
</div>