<div class="col-xs-2 col-xs-offset-1">
<%= text_field_tag('order_id_search', @order_id, placeholder: 'Order ID', class: 'form-control') %>
</div>
<div class="col-xs-3">
    <%= text_field_tag('search', @search_text, placeholder: 'Search for Customer Name', class: 'form-control') %>
</div>
<%= render "partials/staff_filter" %>  
<div class="col-xs-2">
    <%= collection_select(:status, :id, @statuses, :id, :name, {:include_blank => 'All Statuses'}, {:class => 'form-control'}) %>
</div>
