<% if objects.count >= @per_page.to_i %>
    <div class="form-group row justify-content-center">
        <div class="col-xs">
            <%= will_paginate objects, :inner_window => 1, :outer_window => 1 %>
        </div>
        <div class="col-xs">
            <div class="input-group pb-3">
                <div class="input-group-append">
                    <span class="input-group-text"  style="height: 35px">
                        Per page
                    </span>
                    <%= select_tag :per_page, options_for_select([5,15,30,50,100], @per_page.to_i), 
                        :onchange => "if(this.value){window.location='?per_page='+this.value;}", 
                        :class => "form-control", style: "height: 35px" %>
                </span>
            </div>
        </div>
    </div>
<% end %>
