<%= link_to ("<span class='caret'></span>").html_safe, params.merge(order_function: order, direction: 'ASC') %>
<%= link_to ("<span class='dropup'><span class='caret'></span></span>").html_safe, params.merge(order_function: order, direction: 'DESC') %>