<tr class="info">
	<td><%= @avg_sum ? "Staff Average" : "Staff Total"%></td>
<% dates_total_h = staff_sums_total(dates, sums_dates_h, staffs) %>
<% dates.each do |d| %>
	<td class="num"><%= display_num(dates_total_h[d]) %></td>
<% end %>
	<td class="num"><%= display_num( @avg_sum ? sum_values_of_hash(dates_total_h)/dates_total_h.values.size.to_f : sum_values_of_hash(dates_total_h)) %></td>
</tr>
