<td class="col-xs-2">
	<% if can_update_staff %>
		<% @staff_id = staff_for_customer(customer).id %>
		<% @staffs = all_staffs %>

		<%= form_tag :controller => "models", :action => "update_staff" do %>

		<%= select_tag(:staff_id, options_from_collection_for_select(@staffs, :id, :nickname, @staff_id), html_options = {:class => 'form-control', :onchange => "this.form.submit()"}) %>

		<%= hidden_field_tag :customer_id, customer.id %>

		<% end %>
	<% else %>
		<%= staff_nickname_direct(staff_for_customer(customer)) %>
	<% end %>
</td>