<div class="dropdown" style="float:left;">
  <button class="button dropdown-toggle" type="button" data-toggle="dropdown">Change Status
  <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% Status.all.sort.each do |s| %>

          <li class="center"><%= link_to s.name, action: path_name, status_id: s.id, status_name: s.name %></li>

      <% end %>
    </ul>
</div>
