<% staffs.each do |id, nickname| %>
	<tr>
	<td><%= nickname %></td>
	<% sums_dates_h = sums_dates_h_for_staff(id, sums_dates_staffs_h) %>

	<%#= dates_map is a hash like {date => date} when columns are single days, {week_num => [start_date, end_date]} when columns are weeks, {[month_num, year] => [start_date, end_date]} for months %>

	<%#= sums_dates_h are a hash like {[start_date, end_date] => sum} %>

	<%= render "partials/daily_sums", sums_dates_h: sums_dates_h, dates: dates, staff_nickname: nickname, staff_id: id, dates_map: dates_map %>
	</tr>
<% end %>
