<td class="col-xs-2">
	<% active_staff = Staff.sales_list.order_by_order %>
	<% @staff_id = staff.id %>
	<% if can_update_staff and !staff.nil? and active_staff.include?staff%>
		<%= form_tag :controller => "customer", :action => "update_staff" do %>
			<%= select_tag(:staff_id, options_from_collection_for_select(active_staff, :id, :nickname, @staff_id), html_options = {:class => 'form-control', :onchange => "this.form.submit()"}) %>
			<%= hidden_field_tag :customer_id, customer.id %>
		<% end %>
	<% else %>
		<%= staff_nickname_direct(staff) %>
	<% end %>
</td>
