<div class="col-xs-4 col-xs-offset-2">
   <%= text_field_tag('search', @search_text, placeholder: 'Search Anything', class: 'form-control') %>
</div>
<div class="col-xs-2">
  <%= collection_select(nil, :cuisine, ZomatoCuisine.active_cuisines, :name, :name, {include_blank:'All Cuisines', selected: params[:cuisine]}, {:class => 'form-control'}) %>
</div>
