<%= title "Contacts" %>
<h3>Contacts</h3>

<div class="form-group container-center">
	<%= form_tag({:action => "contacts"}, {:method => "get"}) do %>
	<%= render "partials/contact_filter" %>
  <% end %>
</div>

<%= render "partials/contact", customers: @customers, invoices: @invoices, date_column: @date_column %>
