<!-- edited by vchar on 20180805 -->

<%= title "Contacts" %>

<div class="row">
	<div class="col-12">
		<div class="card">
		  	<div class="card-header text-center h3 text-secondary">
				Account Receivable
		  	</div>
		  	<div class="card-body">
                <%= form_tag({:action => "contacts"}, {:method => "get"}) do %>

                    <div class="form-group container-center">
                        <%= render "accounts_partials/contact_filter" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render "accounts_partials/contact", contacts: @contacts, invoices: @invoices, date_column: @date_column %>

<script>
	$("#send_reminders").hide();
	$(".contact_name_checkbox").hide();

	$("#contact_name_head").click(function() {
		$(".contact_name_checkbox").toggle();
		if ($(".contact_name_checkbox").is(":hidden")){
			$("#send_reminders").hide();
		}
	});

	$(".contact_name_checkbox").change(function(){
		if ($(this).is(':checked')) {
			$("#send_reminders").show();
		}
	});


</script>
