<div class="col-md-4">
  <span style="margin-left: 50px;">
  <%= radio_button_tag(:transform_column, "product_id", @checked_id) %> Products
  </span>
  <span style="margin-left: 50px;">
  <%= radio_button_tag(:transform_column, "product_no_vintage_id", @checked_no_vintage) %>  No Vintage
  </span>
  <span style="margin-left: 50px;">
  <%= radio_button_tag(:transform_column, "product_no_ws_id", @checked_no_ws) %>  No WS
  </span>
</div>
