<div class="col-md-4">
  <span style="margin-left: 50px;">
  <%= radio_button_tag(:display_column, "stats", @checked_stats) %> Stats
  </span>
  <span style="margin-left: 50px;">
  <%= radio_button_tag(:display_column, "details", @checked_detailis) %>  Details
  </span>
</div>
