<div style=" position: relative; bottom: 0; width: 100%;">
  <div>
  <b>Untapped Fine Wines</b><br/>
  <img src="https://www.untappedwines.com.au/template/images/email_signature.png"><br/>
  <div style="font-style: italic;">Australia’s Spanish and South American Fine Wine Specialist</div>

  <b>Untapped Fine Wines</b>
    <table>
      <tr>
        <td>Ph:</td>
        <td>03 9676 9663</td>
      </tr>
      <tr>
        <td>E:</td>
        <td>customerservice@untappedwines.com</td>
      </tr>
      <tr>
        <td>W:</td>
        <td>www.untappedwines.com</td>
      </tr>
    </table>
    <div style="font-size: 0.7em">Please consider our environment before printing</div>
    <div style="font-size: 0.7em; color: #D3D3D3">NOTICE - This email and any attachments are confidential and are only of the use of the intended recipient.  If you have received this e-mail in error please advise us immediately.  Any unauthorised use, dissemination, forwarding, printing, copying or dealing in any way whatsoever with this e-mail is strictly prohibited.  Whilst reasonable protection measures have been taken, Untapped Fine Wines cannot warrant that the information is free of a virus or any other defect or error.  Any views expressed in this message are those of the individual sender, except where the sender specifically states them to be the views of Untapped Fine Wines</div>
    </div>
  </div>
