<table class="table table-fixed">
  <thead>
    <tr>
      <th class="col-xs-2">#</th>
      <th class="col-xs-8">Note</th>
      <th class="col-xs-2">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-xs-2">#</td>
      <td class="col-xs-8">Note</td>
      <td class="col-xs-2">Date</td>
    </tr>
    <tr>
      <td>23</td>
      <td>23</td>
      <td>23</td>
    </tr>
  </tbody>
</table>
