// Place all the styles related to the Activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
  color: black;
  background-color: white;
  width: 400px;
}
