/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 * require bootstrap
 *= require bootsy
 *= require bootstrap-datetimepicker
 *= require bootstrap-slider
 *= require simple_calendar
 *= require rateit
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// make a div scrollable for long content
.scrollable {
  height: 450px;
  overflow-y: scroll;
}

.mr-auto {
	.nav-link{
		background-color: #0B4C5F !important;
	}	
}

.ml-auto {
	.nav-link {
		background-color: rgba(0,0,0,0) !important;
		color: #6E6E6E !important;
	}	
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

.btn-primary{
	color: white !important;
}

.flash {
	font-size: 125%;
	font-weight: bold;
}

.quarter-size {
	width: 40%;
	display: inline;
	margin-left: 30px;
}

.margin-from-top {
	margin-top: 20px;
}

.label-new {
	font-size: 115%;
}

.invalid_input {
	color: red;
}

.text_input {
	margin-top: 2px;
	height: 28px;
	border: 1px solid #5E6E66;
	font-size: 16px;
	padding: 1px;
	width: 100%;
}

/*.caret {
	border-top: 6px dashed;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-left: 6px;
}

.dropup .caret {
	border-bottom: 6px dashed;
}
*/
