// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Onboard {
  color: blue;
}

.Pickup {
  color: blue;
}

.Signature-Obtained {
  color: green;
}

.Delivery-Completed {
  color: green;
}

.Left-As-Instructed {
  color: orange;
}

.Left-with-neighbour {
  color: orange;
}

.Authority-to-Leave {
  color: orange;
}

.Unable-to-Deliver {
  color: red;
}

.Undeliverable {
  color: red;
}

.Damaged {
  color: red;
}

.Manual-Check-Required {
  color: red;
}
