
<%= render 'form', customer_lead: @customer_lead %>

<div class="container">
  <div class="row mb-5 mt-5">
    <div class="col-md-12">
      <%= link_to 'Back', {controller: "lead", action: "all_leads"}, class: "btn btn-outline-success col-md-2 col-xl-2 g-mb-18" %>
    </div>
  </div>
</div>