<%= title @customer_name %>
<h3>Top Products for <%= @customer_name %> (Bottles)</h3>

<%= render "partials/top_products", time_periods_name: @time_periods_name, products: @products_h, stats: @all_stats, customer_id: @customer_id, customer_name: @customer_name %>