<%= title "Add Note/Task" %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-10">
            <button class="btn btn-primary"><%= link_to "My Task/Note", controller: "task", action: "staff_task"%></button>
        </div>
    </div>
</div>

<%= render "task_partials/add_task"%>
