<%= title "Orders" %>
<h3><%= orders_page_title(@staff_nickname, @start_date, @end_date) %></h3>


<%= render "partials/order_filter" %>

<%= render "partials/order", orders: @orders, display_class: "none" %>