<%= title 'Activity Add Note'%>

<div class="wine-search">
  <input teype="text" id="wine-search-txt" autofocus>
  <div class="results" id="wine-search-results"></div>
</div>

<%= render 'activity_partials/note_table'%>

<script>
  $(function(){
    new app.Products;
  });

  app.Products = function(){
    this._input = $('#wine-search-txt');
    this._initAutocomplete();
  };
  app.Products.prototype={
    _initAutocomplete: function(){
      this._input
        .autocomplete({
          source: '/activity/add_note',
          appendTo: 'wine-search-results',
          select: $.proxy(this._select, this)
        })
        .autocomplete('instance')._renderItem = $.proxy(this._render, this);
    },

    _render: function(ul, item){
      var markup = [
        '<span class="name">' + item.name + '</span>',
        '<span class="price">' + item.price + '</span>'
      ];
      return $('<li>')
        .append(markup.join(''))
        .appendTo(ul);
    },

    _select: function(e, ui){
      this._input.val(ui.item.name + ' - ' + ui.item.price);
      return false;
    },

  };


</script>
