$('.activity-staffs').click(function(){
  if ($('#staff_search').val() != ""){
    <%
      staff = @staff_text==nil ? nil : @staff.select {|x| x.nickname==@staff_text }.first
      unless staff.nil?
    %>
        if($('#tr_staff_<%=staff.id%>').length == 0){
          $('#staff_table').append([
            '<tr id="tr_staff_<%=staff.id%>">',
                '<td><%= text_field_tag 'staff '+staff.id.to_s, staff.nickname, readonly: true %></td>',
                '<td><i class="glyphicon glyphicon-remove remove_staff" title="remove"></i></td>',
            '</tr>'
            ].join(''));
          $('.remove_staff').click(function(){
            $(this).parent().parent().remove();
          });
        }
  <% end %>
  }
});
