
<!-- monthly or 15 days displayed -->
<div class="row" style="margin-top: 5px;">
	<div class="col-xs-6 col-xs-offset-5">
		<%= radio_button_tag(:monthly, "monthly", @checked_monthly, :onclick => "this.form.submit();") %> Monthly
		<span style="margin-left: 50px;">
		<%= radio_button_tag(:monthly, "daily", !@checked_monthly, :onclick => "this.form.submit();") %>  15 Days
		</span>
	</div>
</div>
