<div class="well panel-default panel" style="margin-top:20px;width:50%;float:left;">
  <h4 class="panel-heading">Customer Notes</h4>
  <div class="panel-body">
    <%= ('P.O.Number:'+order.customer_purchase_order+'<br/><br/>').html_safe unless order.customer_purchase_order.nil?%>
    <%= order.customer_notes %>
  </div>
</div>

<div class="well panel-default panel" style="margin-top:20px;width:50%;float:left;">
  <h4 class="panel-heading">Staff Notes</h4>
  <div class="panel-body"><%= order.staff_notes %></div>
</div>
