<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ISO-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render "reminder_mailer_partials/missed_payment_body", over_due_invoices: @over_due_invoices, xero_contact: @xero_contact%>

    <%= render "reminder_mailer_partials/signature_anglica"%>
  </body>
</html>
