<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=ISO-8859-1' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>Hi,</p>
      <p>
         Please check the attachment for latest stock control sheet (beta version).<br/>
         Please contact Veasna if you have any questions.<br/>
         Have a good week!
      </p>
    </div>

    <%= render "reminder_mailer_partials/signature_CMS"%>
  </body>
</html>
