<div class="col-md-8">
  <table id="customer_table">
    <tr>
      <th>Customer</th>
      <th>
        <div class="col-md-8">
          <%= autocomplete_field_tag 'customer_name', '', autocomplete_customer_actual_name_activity_index_path, placeholder: 'Search Customer', id: 'customer_search' %>
          <i class="glyphicon glyphicon-plus activity-customers" title="Include Customer"></i>
        </div>
      </th>
    </tr>
  </table>
  <br/>
</div>
