<div class="col-md-8">
  <table>
    <tr>
      <th><%= text_field_tag 'customer', nil, placeholder: 'Search Customer', style: 'width: 100px'%></th>
      <th><%= text_field_tag 'contact', nil, placeholder: 'Search Contact', style: 'width: 100px'%></th>
    </tr>
  </table>
  <br/>
</div>
