<div class="col-md-8">
  <%= label(:invoice, "Invoices:")%>
  <div>
    <table class="table table-striped table-bordered table-hover table-responsive" style="margin-top: -10px;" id="invoice_table">
      <tr class="info">
        <th>Customer</th>
        <th>Invoice#</th>
        <th>Date</th>
        <th>Value</th>
        <th>Amount Due</th>
        <th>Due</th>
        <th>Days Overdue</th>
      </tr>
    </table>
  </div>
</div>
