<div class="col-md-8">
  <%= label(:invoice, "Invoices:")%>
  <div>
    <table class="table table-striped table-bordered table-hover table-responsive" style="margin-top: -10px;">
      <tr class="info">
        <th>Invoice#</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Overdue Days</th>
        <th>Total</th>
        <th>Amount Paid</th>
        <th>Amount Credited</th>
        <th>Amount Due</th>
      </tr>
    </table>
  </div>
</div>
